{% extends "base.html" %}
{% block title %}Regions{% endblock %} {% block content %}
    <div class="row mb-3">
        <div class="col-sm-12 bg-danger"><h2 class="display-4 text-center">Regions</h2></div>
    </div>
    <div class="row"> {% for region in region_list %}
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="card"> {% if region.img %}
                <img class="card-img-top" src="{{ region.img.url }}" alt="{{ region.title }}"> {% endif %}
                <div class="card-body">
                    <h4 class="card-title">
                        <a href>{{ region.name }}</a>
                    </h4>
                    <p class="card-text"><b>Region: </b> {{ region.name }} </p>
                    <a href="{% url 'region_detail' region.pk %}" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div> {% endfor %} </div> {% endblock %}